@use "../variables" as *;
@use "../mixins/floating-widget";
@use "../mixins/spacing";
@use "../mixins/button";
@use "../mixins/unset";
@use "sass:color";

window.powermenu,
window.confirmation {
    // the fraction has to be more than hyprland ignorealpha
    background-color: rgba(0, 0, 0, 0.4);
}

window.confirmation .confirmation {
    @include floating-widget.floating-widget();

    padding: $popover-padding * 1.5;
    min-width: 300px;
    min-height: 100px;

    .text-box {
        margin-bottom: $spacing;

        .title {
            font-size: 1.6em;
        }

        .desc {
            color: color.adjust($fg, $alpha: 0.1);
            font-size: 1.1em;
        }
    }

    .buttons {
        @include spacing.spacing();
        margin-top: $padding;

        button {
            @include button.button();

            & {
                font-size: 1.5em;
                padding: $padding;
            }
        }
    }
}

window.powermenu .powermenu {
    @include floating-widget.floating-widget();

    padding: $popover-padding * 1.5;

    button {
        padding: $popover-padding;
    }

    label {
        margin-bottom: $spacing * -0.5;
    }

    button {
        @include unset.unset();

        image {
            @include button.button();

            & {
                border-radius: $radius + ($popover-padding * 1.4);
                min-width: 1.7em;
                min-height: 1.7em;
                font-size: 4em;
                -gtk-icon-size: 64px;
            }
        }

        label,
        image {
            color: color.adjust($fg, $alpha: 0.1);
        }

        label {
            margin-top: $spacing * 0.3;
        }

        &:hover {
            image {
                @include button.button-hover();
            }

            label {
                color: $fg;
            }
        }

        &:focus image {
            @include button.button-focus();
        }

        &:active image {
            @include button.button-active();
        }

        &:focus,
        &:active {
            label {
                color: $primary-bg;
            }
        }
    }
}
